{erl_opts, [debug_info, warn_export_all]}.

{deps, [
    {telemetry, "~> 1.0"}
]}.

{plugins, [pc]}.

{port_env, [
    {".*", "CC",     "C:/Strawberry/c/bin/gcc"},
    {".*", "CXX",    "C:/Strawberry/c/bin/g++"},
    {".*", "LINKER", "C:/Strawberry/c/bin/gcc"},
    {".*", "ERL_EI_INCLUDE_DIR", "C:/erlnif/lib/erl_interface-5.8/include"},
    {".*", "ERL_EI_LIBDIR",      "C:/erlnif/lib/erl_interface-5.8/lib"},
    {".*", "CFLAGS",
     "-O2 -std=c11 -Ic_src -I../kernel/c -IC:/Strawberry/c/x86_64-w64-mingw32/include -IC:/erlnif/erts-17.0.1/include"},
    {"windows", "DRV_CC_TEMPLATE",
     "$CC -c $CFLAGS $DRV_CFLAGS $PORT_IN_FILES -o $PORT_OUT_FILE"},
    {"windows", "DRV_LINK_TEMPLATE",
     "$LINKER -shared $PORT_IN_FILES $LDFLAGS $DRV_LDFLAGS -o $PORT_OUT_FILE"},
    {"windows", "DRV_LDFLAGS",
     "-LC:/Strawberry/c/x86_64-w64-mingw32/lib -LC:/erlnif/erts-17.0.1/lib -lkernel32"}
]}.

{port_specs, [
    {"windows", "priv/seb_kernel_nif.dll", ["c_src/seb_kernel_nif.c", "c_src/seb_wal_nif.c"]},
    {"linux",   "priv/seb_kernel_nif.so",  ["c_src/seb_kernel_nif.c", "c_src/seb_wal_nif.c"]},
    {"darwin",  "priv/seb_kernel_nif.so",  ["c_src/seb_kernel_nif.c", "c_src/seb_wal_nif.c"]}
]}.

{profiles, [
    {test,  [{erl_opts, [nowarn_export_all]}]},
    {prod,  [{erl_opts, [optimize, nowarn_export_all]},
             {relx, [{dev_mode, false}]}]}
]}.

{relx, [
    {release, {seb_release, "1.0.0"}, [
        sasl, seb_sup, seb_agent_fsm,
        seb_partition_mgr, seb_datalog_bridge
    ]},
    {mode, dev},
    {sys_config, "config/sys.config"},
    {vm_args,    "config/vm.args"},
    {include_erts, true}
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
